[submodule ".registry"]
	path = .registry
	url = https://github.com/yeyuan98/yeyuan98.r-universe.dev
	branch = HEAD
[submodule "Rabe"]
	path = Rabe
	url = https://github.com/yeyuan98/Rabe
[submodule "clockSim"]
	path = clockSim
	url = https://github.com/yeyuan98/clockSim
[submodule "gsAnalysis"]
	path = gsAnalysis
	url = https://github.com/yeyuan98/gsAnalysis
[submodule "ijAnalysis"]
	path = ijAnalysis
	url = https://github.com/yeyuan98/ijAnalysis
[submodule "y3628"]
	path = y3628
	url = https://github.com/yeyuan98/y3628
